{{#> default }}
  <h1>Page Not Found</h1>
  <p>The page you were looking for is <strong>out of reach</strong>. You might have mistyped the address or the page has
    moved. The <a href="/posts">Posts</a> page is a good place to look.</p>
{{/default}}
