#!/bin/bash -l
GIT_REPO={{ bare_repo_directory }}
TMP_GIT_CLONE=/tmp/{{app_name}}
DEPLOY_DIR={{deploy_directory}}

git clone $GIT_REPO $TMP_GIT_CLONE
cd $TMP_GIT_CLONE

# Add link from $TMP_GIT_CLONE/_site to $TMP_GIT_CLONE to fix issue with amp-jekyll not being able to find images
# More info: https://github.com/juusaw/amp-jekyll/issues/24
ln -s $TMP_GIT_CLONE _site

jekyll build --destination $DEPLOY_DIR
rm -Rf $TMP_GIT_CLONE
exit
