<header class="spacer left"></header>
<header>
  <a href="/">
    <!-- Generated with https://danmarshall.github.io/google-font-to-svg-path/ -->
    <svg class="logo" width="500px" height="50px" viewBox="0 0 643.75 50" xmlns="http://www.w3.org/2000/svg">
      <title>{{ site_name }} Logo</title>
      <g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#000" stroke-width="0.25mm"
        fill="#ffffff" style="stroke:#ffffff;stroke-width:0.25mm;">
        <path
          d="M 43.75 43.75 L 12.5 43.75 L 12.5 37.5 L 6.25 37.5 L 6.25 31.25 L 0 31.25 L 0 12.5 L 6.25 12.5 L 6.25 6.25 L 12.5 6.25 L 12.5 0 L 43.75 0 L 43.75 6.25 L 18.75 6.25 L 18.75 12.5 L 12.5 12.5 L 12.5 31.25 L 18.75 31.25 L 18.75 37.5 L 31.25 37.5 L 31.25 25 L 25 25 L 25 18.75 L 43.75 18.75 L 43.75 43.75 Z M 637.5 43.75 L 600 43.75 L 600 37.5 L 631.25 37.5 L 631.25 31.25 L 606.25 31.25 L 606.25 25 L 600 25 L 600 18.75 L 606.25 18.75 L 606.25 12.5 L 637.5 12.5 L 637.5 18.75 L 612.5 18.75 L 612.5 25 L 637.5 25 L 637.5 31.25 L 643.75 31.25 L 643.75 37.5 L 637.5 37.5 L 637.5 43.75 Z M 162.5 43.75 L 150 43.75 L 150 0 L 162.5 0 L 162.5 25 L 175 25 L 175 18.75 L 181.25 18.75 L 181.25 12.5 L 193.75 12.5 L 193.75 18.75 L 187.5 18.75 L 187.5 25 L 181.25 25 L 181.25 31.25 L 187.5 31.25 L 187.5 37.5 L 193.75 37.5 L 193.75 43.75 L 181.25 43.75 L 181.25 37.5 L 175 37.5 L 175 31.25 L 162.5 31.25 L 162.5 43.75 Z M 237.5 50 L 206.25 50 L 206.25 43.75 L 231.25 43.75 L 231.25 37.5 L 206.25 37.5 L 206.25 31.25 L 200 31.25 L 200 12.5 L 212.5 12.5 L 212.5 31.25 L 231.25 31.25 L 231.25 12.5 L 243.75 12.5 L 243.75 43.75 L 237.5 43.75 L 237.5 50 Z M 87.5 43.75 L 56.25 43.75 L 56.25 37.5 L 50 37.5 L 50 18.75 L 56.25 18.75 L 56.25 12.5 L 87.5 12.5 L 87.5 18.75 L 93.75 18.75 L 93.75 31.25 L 62.5 31.25 L 62.5 37.5 L 87.5 37.5 L 87.5 43.75 Z M 137.5 43.75 L 106.25 43.75 L 106.25 37.5 L 100 37.5 L 100 18.75 L 106.25 18.75 L 106.25 12.5 L 137.5 12.5 L 137.5 18.75 L 143.75 18.75 L 143.75 31.25 L 112.5 31.25 L 112.5 37.5 L 137.5 37.5 L 137.5 43.75 Z M 443.75 43.75 L 406.25 43.75 L 406.25 37.5 L 400 37.5 L 400 18.75 L 406.25 18.75 L 406.25 12.5 L 431.25 12.5 L 431.25 0 L 443.75 0 L 443.75 43.75 Z M 487.5 43.75 L 456.25 43.75 L 456.25 37.5 L 450 37.5 L 450 0 L 462.5 0 L 462.5 12.5 L 487.5 12.5 L 487.5 18.75 L 493.75 18.75 L 493.75 37.5 L 487.5 37.5 L 487.5 43.75 Z M 331.25 43.75 L 318.75 43.75 L 318.75 6.25 L 306.25 6.25 L 306.25 0 L 343.75 0 L 343.75 6.25 L 331.25 6.25 L 331.25 43.75 Z M 581.25 43.75 L 568.75 43.75 L 568.75 18.75 L 556.25 18.75 L 556.25 12.5 L 568.75 12.5 L 568.75 0 L 581.25 0 L 581.25 12.5 L 593.75 12.5 L 593.75 18.75 L 581.25 18.75 L 581.25 43.75 Z M 393.75 43.75 L 356.25 43.75 L 356.25 37.5 L 368.75 37.5 L 368.75 18.75 L 362.5 18.75 L 362.5 12.5 L 381.25 12.5 L 381.25 37.5 L 393.75 37.5 L 393.75 43.75 Z M 543.75 43.75 L 506.25 43.75 L 506.25 37.5 L 518.75 37.5 L 518.75 18.75 L 512.5 18.75 L 512.5 12.5 L 531.25 12.5 L 531.25 37.5 L 543.75 37.5 L 543.75 43.75 Z M 412.5 18.75 L 412.5 37.5 L 431.25 37.5 L 431.25 18.75 L 412.5 18.75 Z M 462.5 18.75 L 462.5 37.5 L 481.25 37.5 L 481.25 18.75 L 462.5 18.75 Z M 62.5 18.75 L 62.5 25 L 81.25 25 L 81.25 18.75 L 62.5 18.75 Z M 112.5 18.75 L 112.5 25 L 131.25 25 L 131.25 18.75 L 112.5 18.75 Z M 381.25 6.25 L 368.75 6.25 L 368.75 0 L 381.25 0 L 381.25 6.25 Z M 531.25 6.25 L 518.75 6.25 L 518.75 0 L 531.25 0 L 531.25 6.25 Z"
          vector-effect="non-scaling-stroke" />
      </g>
    </svg>
  </a>
  <p>{{ site_description }}</p>
</header>
<header class="spacer right"></header>
