<header class="spacer left"></header>
<header>
  <a href="/">
    <!-- Generated with https://danmarshall.github.io/google-font-to-svg-path/ and minified with https://www.svgminify.com/ -->
    <?xml version="1.0" encoding="UTF-8"?>
    <svg class="logo" width="500px" height="50px" viewBox="0 0 643.75 50" xmlns="http://www.w3.org/2000/svg">
      <title>Geeky Tidbits Logo</title>
      <g fill="#fff" fill-rule="evenodd" font-size="9pt" stroke="#fff" stroke-linecap="round" stroke-width=".25mm">
        <path
          d="m43.75 43.75h-31.25v-6.25h-6.25v-6.25h-6.25v-18.75h6.25v-6.25h6.25v-6.25h31.25v6.25h-25v6.25h-6.25v18.75h6.25v6.25h12.5v-12.5h-6.25v-6.25h18.75v25zm593.75 0h-37.5v-6.25h31.25v-6.25h-25v-6.25h-6.25v-6.25h6.25v-6.25h31.25v6.25h-25v6.25h25v6.25h6.25v6.25h-6.25v6.25zm-475 0h-12.5v-43.75h12.5v25h12.5v-6.25h6.25v-6.25h12.5v6.25h-6.25v6.25h-6.25v6.25h6.25v6.25h6.25v6.25h-12.5v-6.25h-6.25v-6.25h-12.5v12.5zm75 6.25h-31.25v-6.25h25v-6.25h-25v-6.25h-6.25v-18.75h12.5v18.75h18.75v-18.75h12.5v31.25h-6.25v6.25zm-150-6.25h-31.25v-6.25h-6.25v-18.75h6.25v-6.25h31.25v6.25h6.25v12.5h-31.25v6.25h25v6.25zm50 0h-31.25v-6.25h-6.25v-18.75h6.25v-6.25h31.25v6.25h6.25v12.5h-31.25v6.25h25v6.25zm306.25 0h-37.5v-6.25h-6.25v-18.75h6.25v-6.25h25v-12.5h12.5v43.75zm43.75 0h-31.25v-6.25h-6.25v-37.5h12.5v12.5h25v6.25h6.25v18.75h-6.25v6.25zm-156.25 0h-12.5v-37.5h-12.5v-6.25h37.5v6.25h-12.5v37.5zm250 0h-12.5v-25h-12.5v-6.25h12.5v-12.5h12.5v12.5h12.5v6.25h-12.5v25zm-187.5 0h-37.5v-6.25h12.5v-18.75h-6.25v-6.25h18.75v25h12.5v6.25zm150 0h-37.5v-6.25h12.5v-18.75h-6.25v-6.25h18.75v25h12.5v6.25zm-131.25-25v18.75h18.75v-18.75h-18.75zm50 0v18.75h18.75v-18.75h-18.75zm-400 0v6.25h18.75v-6.25h-18.75zm50 0v6.25h18.75v-6.25h-18.75zm268.75-12.5h-12.5v-6.25h12.5v6.25zm150 0h-12.5v-6.25h12.5v6.25z"
          vector-effect="non-scaling-stroke" />
      </g>
    </svg>

  </a>
  <p>{{ site_description }}</p>
</header>
<header class="spacer right"></header>
