<!DOCTYPE html>
<html lang="en">
{{> head }}

<body>
  {{> header }}
  <div class="page-content">
    <div class="wrapper">
      {{> sidebar }}
      {{> @partial-block }}
    </div>
  </div>
  <div class="wrapper">
    {{> footer }}
  </div>
  {{> google_analytics }}
</body>

</html>