<!DOCTYPE html>
<html lang="en">
{{> head }}
<body class="{{ body_class }}">
  {{> header }}
  <div class="page-content">
    <div class="wrapper">
      {{> sidebar }}
      {{{ content_html }}}
    </div>
  </div>
  <div class="wrapper">
    {{> footer }}
  </div>
  {{> google_analytics }}
</body>
</html>
