<!DOCTYPE html>
<html lang="en">
{{> head }}

<body class="{{ body_class }}">
  <div class="container2">
    {{> header }}
    {{> sidebar }}
    <article>
      {{{ content }}}
    </article>
    {{> footer }}
  </div>
  {{> google_analytics }}
</body>

</html>
