<!DOCTYPE html>
<html lang="en">
{{> head }}

<body class="{{ body_class }}">
  <div class="main-container">
    {{> header }}
    {{> sidebar }}
    <article class="{{ layout }}">
{{> @partial-block }}
    </article>
    {{> footer }}
    {{> google_analytics }}
    {{> install_service_worker }}
  </div>
</body>

</html>
