<header class="spacer left"></header>
<header>
  <a href="/">
    <?xml version="1.0" encoding="UTF-8"?>
    <svg class="logo" width="500" height="50" viewBox="0 0 643.75 50" xmlns="http://www.w3.org/2000/svg">
      <title>{{ site_name }} Logo</title>
      <!-- Font:Press Start 2P -->
      <path
        d="M43.75 43.75H12.5V37.5H6.25v-6.25H0V12.5h6.25V6.25h6.25V0h31.25v6.25h-25v6.25H12.5v18.75h6.25v6.25h12.5V25H25v-6.25h18.75v25zm593.75 0H600V37.5h31.25v-6.25h-25V25H600v-6.25h6.25V12.5h31.25v6.25h-25V25h25v6.25h6.25v6.25h-6.25v6.25zm-475 0H150V0h12.5v25H175v-6.25h6.25V12.5h12.5v6.25h-6.25V25h-6.25v6.25h6.25v6.25h6.25v6.25h-12.5V37.5H175v-6.25h-12.5v12.5zm75 6.25h-31.25v-6.25h25V37.5h-25v-6.25H200V12.5h12.5v18.75h18.75V12.5h12.5v31.25h-6.25V50zm-150-6.25H56.25V37.5H50V18.75h6.25V12.5H87.5v6.25h6.25v12.5H62.5v6.25h25v6.25zm50 0h-31.25V37.5H100V18.75h6.25V12.5h31.25v6.25h6.25v12.5H112.5v6.25h25v6.25zm306.25 0h-37.5V37.5H400V18.75h6.25V12.5h25V0h12.5v43.75zm43.75 0h-31.25V37.5H450V0h12.5v12.5h25v6.25h6.25V37.5h-6.25v6.25zm-156.25 0h-12.5V6.25h-12.5V0h37.5v6.25h-12.5v37.5zm250 0h-12.5v-25h-12.5V12.5h12.5V0h12.5v12.5h12.5v6.25h-12.5v25zm-187.5 0h-37.5V37.5h12.5V18.75h-6.25V12.5h18.75v25h12.5v6.25zm150 0h-37.5V37.5h12.5V18.75h-6.25V12.5h18.75v25h12.5v6.25zm-131.25-25V37.5h18.75V18.75H412.5zm50 0V37.5h18.75V18.75H462.5zm-400 0V25h18.75v-6.25H62.5zm50 0V25h18.75v-6.25H112.5zm268.75-12.5h-12.5V0h12.5v6.25zm150 0h-12.5V0h12.5v6.25z"
        vector-effect="non-scaling-stroke" stroke-linecap="round" fill-rule="evenodd" font-size="12" stroke="#fff"
        stroke-width=".25mm" fill="#fff" />
    </svg>
  </a>
  <p>{{ site_description }}</p>
</header>
<header class="spacer right"></header>
