<aside>
  <div class="bio">
    <img class="head-shot" alt="{{ site_author }}" width="145" height="145"
      src="//s.gravatar.com/avatar/ae474dd4a074fd22e897c4c54770c05a?s=145"
      srcset="//s.gravatar.com/avatar/ae474dd4a074fd22e897c4c54770c05a?s=290 2x" />
    <div>
      <div class="author-name"><strong>{{ site_author }}</strong></div>
      <p>
        Geek, developer at
        <a target="_blank" href="http://www.youneedabudget.com/">YNAB</a>, voider of
        warranties
      </p>
    </div>
  </div>
  <nav class="nav-links">
    <ul>
      <li>
        <a href="/about-me/">About Me</a>
      </li>
      <li>
        <a href="/projects/">Projects</a>
      </li>
      <li>
        <a href="/posts/">Posts</a>
      </li>
    </ul>
  </nav>
  <div class="connect">
    <p>Connect with me!</p>
    <ul>
      <li>
        <a href="http://github.com/bradymholt">
          <svg class="social" viewBox="0 0 35 35">
            <title>GitHub Icon</title>
            <path fill="#444"
              d="M16 0C7.163 0 0 7.163 0 16s7.163 16 16 16 16-7.163 16-16S24.837 0 16 0zm9.502 25.502a13.4 13.4 0 0 1-5.51 3.334v-2.398c0-1.26-.432-2.188-1.297-2.781.542-.052 1.039-.125 1.492-.219s.932-.229 1.438-.406.958-.388 1.359-.633.786-.563 1.156-.953.68-.833.93-1.328.448-1.089.594-1.781.219-1.456.219-2.289c0-1.615-.526-2.99-1.578-4.125.479-1.25.427-2.609-.156-4.078l-.391-.047c-.271-.031-.758.083-1.461.344s-1.492.688-2.367 1.281a14.367 14.367 0 0 0-3.859-.516c-1.344 0-2.625.172-3.844.516-.552-.375-1.075-.685-1.57-.93s-.891-.411-1.188-.5-.573-.143-.828-.164-.419-.026-.492-.016-.125.021-.156.031c-.583 1.479-.635 2.839-.156 4.078-1.052 1.135-1.578 2.51-1.578 4.125 0 .833.073 1.596.219 2.289s.344 1.286.594 1.781.56.938.93 1.328.755.708 1.156.953.854.456 1.359.633.984.313 1.438.406.95.167 1.492.219c-.854.583-1.281 1.51-1.281 2.781v2.445A13.4 13.4 0 0 1 6.5 25.501a13.4 13.4 0 0 1-3.936-9.502A13.4 13.4 0 0 1 6.5 6.497a13.4 13.4 0 0 1 9.502-3.936 13.4 13.4 0 0 1 9.502 3.936 13.4 13.4 0 0 1 3.936 9.502 13.4 13.4 0 0 1-3.936 9.502z" />
          </svg>GitHub
        </a>
      </li>
      <li>
        <a href="http://stackoverflow.com/users/626911/brady?tab=profile">
          <svg class="social" viewBox="0 0 35 35">
            <title>Stack Overflow Icon</title>
            <path fill="#444"
              d="M32 20v12H0V20h4v8h24v-8zM6 22h20v4H6zm.473-4.329l.866-3.905 19.526 4.328-.866 3.905zm2.266-8.029l1.69-3.625 18.126 8.452-1.69 3.625zm22.252 1.654l-2.435 3.173L12.689 2.294 14.45 0h1.82z" />
          </svg>Stack Overflow
        </a>
      </li>
      <li>
        <a href="http://twitter.com/bradymholt">
          <svg class="social" viewBox="0 0 35 35">
            <title>Twitter Icon</title>
            <path fill="#444"
              d="M32 6.076a13.14 13.14 0 0 1-3.771 1.034 6.592 6.592 0 0 0 2.887-3.632 13.151 13.151 0 0 1-4.169 1.593 6.557 6.557 0 0 0-4.792-2.073 6.565 6.565 0 0 0-6.565 6.565c0 .515.058 1.016.17 1.496a18.64 18.64 0 0 1-13.532-6.86A6.536 6.536 0 0 0 1.339 7.5a6.563 6.563 0 0 0 2.921 5.465 6.54 6.54 0 0 1-2.974-.821l-.001.083a6.568 6.568 0 0 0 5.266 6.437 6.578 6.578 0 0 1-2.965.112 6.571 6.571 0 0 0 6.133 4.559 13.172 13.172 0 0 1-8.154 2.81c-.53 0-1.052-.031-1.566-.092a18.579 18.579 0 0 0 10.064 2.95c12.076 0 18.679-10.004 18.679-18.68 0-.285-.006-.568-.019-.849a13.347 13.347 0 0 0 3.276-3.398z" />
          </svg>Twitter
        </a>
      </li>
      <li>
        <a href="http://www.linkedin.com/in/bradymholt">
          <svg class="social" viewBox="0 0 35 35">
            <title>LinkedIn Icon</title>
            <path fill="#444"
              d="M12 12h5.535v2.837h.079c.77-1.381 2.655-2.837 5.464-2.837C28.92 12 30 15.637 30 20.367V30h-5.769v-8.54c0-2.037-.042-4.657-3.001-4.657-3.005 0-3.463 2.218-3.463 4.509V30H12V12zM2 12h6v18H2V12zM8 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
          </svg>LinkedIn
        </a>
      </li>
      <li>
        <a href="/{{ rss_path }}">
          <svg class="social" viewBox="0 0 35 35">
            <title>RSS Icon</title>
            <path fill="#444"
              d="M4.259 23.467A4.265 4.265 0 0 0 0 27.719a4.25 4.25 0 0 0 4.259 4.244 4.25 4.25 0 0 0 4.265-4.244 4.265 4.265 0 0 0-4.265-4.252zM.005 10.873v6.133c3.993 0 7.749 1.562 10.577 4.391A14.897 14.897 0 0 1 14.966 32h6.16c0-11.651-9.478-21.127-21.121-21.127zM.012 0v6.136C14.255 6.136 25.848 17.74 25.848 32H32C32 14.36 17.648 0 .012 0z" />
          </svg>Feed
        </a>
      </li>
    </ul>
  </div>
</aside>
