<!DOCTYPE html>
<html lang="en">
{{> head }}

<body class="{{ body_class }}">
  <div class="main-container">
    {{> header }}
    {{> sidebar }}
    <article>
      {{{ indent content_html 6 }}}
    </article>
    {{> footer }}
    {{> install_service_worker }}
    {{> google_analytics }}
  </div>
</body>

</html>
