@media screen and (min-width: $small-screen-width) {
  .pull-right,
  img[src*="#pull-right"] {
    float: right;
  }
  .pull-left,
  img[src*="#pull-left"] {
    float: left;
  }
}

.block,
img[src*="#block"] {
  display: block;
}

img[src*="#center"] {
  margin: 0 auto;
}

ul.two-columns {
  columns: 2;
}

svg.social {
  width: 25px;
  height: 25px;
  margin: 5px;
  vertical-align: middle;
}
