@media screen and (min-width: $small-screen-width) {
  .pull-right,
  img[src*="#pull-right"] {
    float: right;
  }
  .pull-left,
  img[src*="#pull-left"] {
    float: left;
  }
}

.block,
img[src*="#block"] {
  display: block;
}

ul.two-columns {
  columns: 2;
}
