.main-container {
  display: grid;
  grid-row-gap: 15px;
  grid-template-columns: 1fr 215px 850px 1fr;
  grid-template-areas:
    "header-l header-l header  header-r"
    ".        sidebar  content .       "
    ".        .        footer  .       ";

  // Small screens
  @media screen and (max-width: $small-screen-width) {
    grid-template-columns: 100%;
    grid-template-areas:
      "header"
      "sidebar"
      "content"
      "footer";
  }
}

header {
  grid-area: header;
  background-color: #237ab2;
  border-bottom: 3px solid #f68905;
  color: #ffffff;
  padding: 15px;

  p {
    margin-bottom: 0;
  }

  .logo {
    max-width: 100%;
  }

  &.left {
    grid-area: header-l;
  }
  &.right {
    grid-area: header-r;
  }

  @media screen and (max-width: $small-screen-width) {
    &.spacer {
      display: none;
    }
  }
}

aside {
  grid-area: sidebar;
  font-size: 0.8rem;
  margin: 0 15px;

  p,
  ul {
    margin-bottom: 1.1rem;
  }

  // Small screens
  @media screen and (max-width: $small-screen-width) {
    // Only show on root page
    display: none;
    body.root & {
      display: flex;
    }

    font-size: 0.9rem;
    flex-direction: column;

    p,
    ul {
      margin: 0px;
    }
    ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
    li {
      margin: 0 10px;
    }
    .nav-links,
    .connect {
      text-align: center;
      margin: 10px 0;
    }
    .bio {
      display: flex;
      text-align: left;
      align-items: center;
      justify-content: center;
    }
    .nav-links {
      font-size: 1.1rem;
    }
  }

  .bio {
    position: relative;
  }

  canvas#head-shot-canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  img.head-shot {
    border-radius: 75px;
  }

  .author-name {
    font-size: 1.3em;
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        @media screen and (min-width: 600px) {
          transform: scale(1.1);
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
}

$article-padding: 30px;
article {
  grid-area: content;
  background-color: #ffffff;
  padding: 30px;

  .post-date {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;
    border-right: none;
    padding: 10px 0;
    display: inline-block;
  }
}

footer {
  grid-area: footer;
  padding: $article-padding;
}
